@{
    Layout = "_Layout";
}

<div style="margin-top:35vh; text-align:center">
    <h2 class="text-primary">@ViewData["aboutError"]</h2>
    <h4 class="text-info">Error code: @ViewData["errorCode"]</h4>
</div>