@using FamilyApp
@model BaseViewModel
@{
    Layout = "_Layout";
}

<br />
<h2 style="text-align:center" class="display-4">Join your Family</h2>
<br />
@if (Model.Message != "")
{
<div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
    <i class="bi-exclamation-triangle-fill"></i>
    <div style="margin-left:10px">
        @Model.Message
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
}
<form action="/join" method="post">
    <label for="code" class="form-label">Family code (10 digits)</label>
    <input class="form-control" name="code" asp-for="code" pattern=".{10,10}" type="text" />
    <div class="d-grid gap-2 col-8 mx-auto" style="margin-top: 20px">
        <button type="submit" class="btn btn-primary">Join</button>
    </div>
</form>


